


# HTID:8084497: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
AuthType Basic
AuthName "Restricted Access"
AuthUserFile "/storage/ssd4/780/8348780/public_html/admin/.htpasswd"
Require user ayatecom2019
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:8084497:
